<div class="jumbotron">
  <h1 class="display-4">Welcome</h1>
  <p class="lead">This is a simple Job Board Application, where you can check some listed jobs with there details.</p>
  <hr class="my-4">
</div>