<div id="<%= dom_id jobapplication %>">
  <p>
    <strong>Title:</strong>
    <%= jobapplication.title %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= jobapplication.status %>
  </p>

  <hr class="my-4">

</div>
