<h1>Editing jobapplication</h1>

<%= render "form", jobapplication: @jobapplication %>

<br>

<div>
  <%= link_to "Show this jobapplication", @jobapplication %> |
  <%= link_to "Back to jobapplications", jobapplications_path %>
</div>
