<div id="jobapplications", class="jumbotron">
  <h1 style="margin-top: -50px", class="display-4">Job Applications</h1>
  <% @jobapplications.each do |jobapplication| %>
    <%= render jobapplication %>
  <% end %>
</div>
