<h5>Editing job</h5>
<%= render "form", jobslist: @jobslist %>
<br>
<div>
  <%= link_to "Show this job", @jobslist, class:"btn btn-dark" %>
  <%= link_to "Back to jobs list", jobslists_path, class:"btn btn-dark" %>
</div>